<div class="no-questions">
    <img src="/images/messages.svg" alt="Imagem de um balão de mensagem">
    <p>Nenhuma pergunta por aqui...</p>
    <p>
        Faça sua primeira pergunta e envie <br> o código dessa sala para outras pessoas!
    </p>
</div>
